/* ========================================
 * CSS written here will override Tachyons
 * ======================================== */

@media (min-width: 600px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
  }
}
